form {
  margin-top: 1em;
}

.total-cost {
  margin: 1em 0;
  font-weight: bold;
}

/* Sticky Footer */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

